# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
virtualenv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
*.cover
.coverage
.cache
nosetests.xml
coverage.xml
*.lcov

# Logs
logs/
*.log

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db

log_serial/serial_log.txt